[Unit]
Description=rfoutlet
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rfoutlet serve --config /etc/rfoutlet/config.yml
Restart=on-failure

[Install]
WantedBy=multi-user.target
